<div class="header">
    <a class="btn btn-outline-primary" href="#">مرحبا {{id}}</a>
    <h5 id="title">مدينة الملك عبد الله للطاقة الذرية والمتجددة</h5>   
</div>
  
  <div class=" text-center headtxt">
    <h1 class="display-4" style="color: #171797;">رؤيه المدينه</h1>
    <p class="lead">     
أن يكون للمملكة دور رئيس وريادي في قطاع الطاقة الذرية والمتجددة، إقليمياً في المدى القصير، ودولياً على المدى الطويل، ببناء قطاع الطاقة الذرية والمتجددة بشكل مستدام.

تهدف مدينة الملك عبدالله للطاقة الذرية والمتجددة إلى العمل على تكامل الطاقة الذرية والمتجددة مع منظومة الطاقة الوطنية

بشكل مستدام، وذلك بتفعيل الميزات النسبية الوطنية وإيجاد ميزات تنافسية جديدة مستمدة من كافة سلاسل القيمة في

الطاقة الذرية والمتجددة، من أجل المساهمة في التنمية المستدامة في المملكة.​    
</p>
  </div>
  
  <div class="container">
    <div class="card-deck mb-3 text-center">

      <div class="card mb-4 shadow-sm">

            <div class="card-header">
            <h4 class="my-0 font-weight-normal">الطاقة الذرية</h4>
            </div>
            <div class="card-body">
                <p>  يحتوي تاريخ الطاقة الذرية على الكثير من الإنجازات والتطور على مدار الستين عامًا الماضية، ففي عام 1950م بدأ البحث والتطوير لاستخدام الطاقة الذرية في إنتاج الكهرباء لتزويد العالم بمصدر طاقة منخفض التكلفة. وبحلول عام 1960م تم بناء 17 مفاعل نووي
                </p>
            <button type="button" class="btn btn-lg btn-block btn-outline-danger">للمزيد</button>
            </div>
      </div>
      <div class="card mb-4 shadow-sm">

            <div class="card-header">
                    <h4 class="my-0 font-weight-normal">الطاقة الذرية</h4>
            </div>
            <div class="card-body">
                    <p>  يحتوي تاريخ الطاقة الذرية على الكثير من الإنجازات والتطور على مدار الستين عامًا الماضية، ففي عام 1950م بدأ البحث والتطوير لاستخدام الطاقة الذرية في إنتاج الكهرباء لتزويد العالم بمصدر طاقة منخفض التكلفة. وبحلول عام 1960م تم بناء 17 مفاعل نووي
                    </p>
                  <button type="button" class="btn btn-lg btn-block btn-outline-danger">للمزيد</button>
            </div>
      </div>
      <div class="card mb-4 shadow-sm">

            <div class="card-header">
                    <h4 class="my-0 font-weight-normal">الطاقة الذرية</h4>
            </div>
            <div class="card-body">
                    <p>  يحتوي تاريخ الطاقة الذرية على الكثير من الإنجازات والتطور على مدار الستين عامًا الماضية، ففي عام 1950م بدأ البحث والتطوير لاستخدام الطاقة الذرية في إنتاج الكهرباء لتزويد العالم بمصدر طاقة منخفض التكلفة. وبحلول عام 1960م تم بناء 17 مفاعل نووي
                    </p>
                  <button type="button" class="btn btn-lg btn-block btn-outline-danger">للمزيد</button>
            </div>
      </div>

    </div>
    <div class="card-deck mb-3 text-center">

            <div class="card mb-4 shadow-sm">
      
                  <div class="card-header">
                  <h4 class="my-0 font-weight-normal">الطاقة الذرية</h4>
                  </div>
                  <div class="card-body">
                      <p>  يحتوي تاريخ الطاقة الذرية على الكثير من الإنجازات والتطور على مدار الستين عامًا الماضية، ففي عام 1950م بدأ البحث والتطوير لاستخدام الطاقة الذرية في إنتاج الكهرباء لتزويد العالم بمصدر طاقة منخفض التكلفة. وبحلول عام 1960م تم بناء 17 مفاعل نووي
                      </p>
                  <button type="button" class="btn btn-lg btn-block btn-outline-danger">للمزيد</button>
                  </div>
            </div>
            <div class="card mb-4 shadow-sm">
      
                  <div class="card-header">
                          <h4 class="my-0 font-weight-normal">الطاقة الذرية</h4>
                  </div>
                  <div class="card-body">
                          <p>  يحتوي تاريخ الطاقة الذرية على الكثير من الإنجازات والتطور على مدار الستين عامًا الماضية، ففي عام 1950م بدأ البحث والتطوير لاستخدام الطاقة الذرية في إنتاج الكهرباء لتزويد العالم بمصدر طاقة منخفض التكلفة. وبحلول عام 1960م تم بناء 17 مفاعل نووي
                          </p>
                        <button type="button" class="btn btn-lg btn-block btn-outline-danger">للمزيد</button>
                  </div>
            </div>
            <div class="card mb-4 shadow-sm">
      
                  <div class="card-header">
                          <h4 class="my-0 font-weight-normal">الطاقة الذرية</h4>
                  </div>
                  <div class="card-body">
                          <p>  يحتوي تاريخ الطاقة الذرية على الكثير من الإنجازات والتطور على مدار الستين عامًا الماضية، ففي عام 1950م بدأ البحث والتطوير لاستخدام الطاقة الذرية في إنتاج الكهرباء لتزويد العالم بمصدر طاقة منخفض التكلفة. وبحلول عام 1960م تم بناء 17 مفاعل نووي
                          </p>
                        <button type="button" class="btn btn-lg btn-block btn-outline-danger">للمزيد</button>
                  </div>
            </div>
      
          </div>
  </div>
  
<div class="footer">
    <ul>
        <li><a href="#">الرئيسية</a></li>
        <li><a href="#">عن المدينة</a></li>
        <li><a href="#">طاقة المستقبل</a></li>
        <li><a href="#">سياسة الخصوصية</a></li>
        <li><a href="#">اتصل بنا</a></li>
    </ul>    

    <div class="copyright">جميع الحقوق محفوظة مدينة الملك عبد الله للطاقة الذرية والمتجددة © 
        <span id="year">2019</span>
    </div>      
    

    <script type="text/javascript">
    $(document).ready(function(){
    $('#year').html((new Date()).getFullYear());
    });
    </script>
</div>



        
